// Import SCSS partials
@import 'fonts';
@import 'theme';

body {
    margin: 0;
    overflow: hidden;
    font-family: 'UncutSans', Arial, sans-serif;
    font-weight: 600;
    font-feature-settings: "ss01" on, "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on, "ss07" on, "ss08" on;
}